VITE_SUPABASE_URL=VITE_SUPABASE_URL=https://dldfjzaheeuwfehrpamw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsZGZqemFoZWV1d2ZlaHJwYW13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0ODA1OTYsImV4cCI6MjA5MzA1NjU5Nn0._w8znEQvaYKksnTenQvc3lfuOl50Ifztb2FbTJRZ0tw
VITE_MAPBOX_TOKEN=""
VITE_API_URL=http://localhost:3001
